@import './Colors.scss';

* {
  margin: 0px;
  box-sizing: border-box;
}

$window-height: 100vh;
$window-width: 100vw;

section {
  background-image: url('../styles/images/background.svg');
  width: $window-width;
  height: $window-height;
  background-size: cover;
}

.headerBar {
  background-color: $mid-solid;
  color: white;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#listBuilder {
  background-color: $contrast;
  color: $dark-solid;
  border: 0;
  height: 3em;
  padding-left: 1em;
  border-radius: 1vh;
  outline: none;
  margin: 2em;

  &::placeholder {
    color: $dark-solid;
  }
}

.list {
  border-radius: 0.5em;
  width: 15em;
  padding: 1em;
  margin: 1em 1.5em;
  background-color: $contrast;
}

.list > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.list > div > h3 {
  word-wrap: break-word;
  color: $dark-solid;
}

#taskBuilder {
  background-color: $dark-solid;
  color: $light;
  border: 0;
  height: 2em;
  padding-left: 1em;
  border-radius: 0.5em;
  outline: none;

  &::placeholder {
    color: $contrast;
  }
}

.task {
  background-color: $mid-solid;
  border-radius: 0.5em;
  color: $light;
  padding: 0.5em;
  margin: 1em 0em;
  display: grid;
  grid-template-columns: 12em;
  grid-template-rows: 70% 30%;
  justify-content: space-between;
}

.task > h4 {
  word-wrap: break-word;
  font-size: medium;
  padding: 0.3em;
}

.deleteButton {
  background: none;
  border: 0;
  color: inherit;
  width: fit-content;
  outline: none;
  display: flex;
  justify-self: end;
}
